.td_pokeball{
    text-align: center;

}

.layout_pokeball{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.table_pokeball{
    margin-top: 20px;
     width: 50%;
}
.th_pokeball{
    text-align: center;
    width: 20%;
}

.btn_pag_pokedex{
    margin-left: 20px;
}
.td_pokeball{
    text-align: center;
}

.btn_rmv_pokemonPokeball{
    text-align: center;
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 20px;
}